# PROJECT
APP_ENV=TEST

# JWT
JWT_SECRET=YOUR_SECRET_KEY_HERE
JWT_TOKEN_AUDIENCE=localhost:3000
JWT_TOKEN_ISSUER=localhost:3000
JWT_ACCESS_TOKEN_TTL=3600
JWT_REFRESH_TOKEN_TTL=86400

# DATABASE
DB_TYPE=postgres
DATABASE_USER=db_owner
DATABASE_PASSWORD=123456
DATABASE_NAME=db_dev
DATABASE_PORT=5432
DATABASE_HOST=db
API_KEY=KEY

# SENDGRID
SENDGRID_API_KEY=SG.xxxx
SENDGRID_API_SENDER=noreply@melvan.pe

# TWILIO
TWILIO_API_ACCOUNT_SID=xxxx
TWILIO_API_TOKEN=xxxx
TWILIO_API_SENDER=+12765985248

LOCAL_BO_FRONTEND_URL=http://localhost:4200
DEV_BO_FRONTEND_URL=https://melvan-logistic-bo.onrender.com
PROD_BO_FRONTEND_URL=https://backoffice.melvan.pe

POSTGRES_USER=db_owner
POSTGRES_PASSWORD=123456
POSTGRES_DB=db_dev